---
import Layout from '../layouts/Layout.astro';
import Header from '../components/LandingHeader.astro'
import Plan from '../components/Plan.astro';
---

<Layout title="Sonner">
	<Header />
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<Plan />
		</div>
	</main>
</Layout>